<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <bean class="spring.Square" id="square1">
        <property name="color" ref="red"/>
    </bean>

    <bean class="spring.Square" id="square2"/>

    <bean class="spring.Triangle" id="triangle1">
        <property name="color" ref="green"/>
    </bean>

    <bean class="spring.Triangle" id="triangle2"/>

    <bean id="red" class="spring.Red">
        <qualifier value="red"/>
    </bean>

    <bean id="green" class="spring.Green">
        <qualifier value="green"/>
    </bean>

    <context:annotation-config/>
</beans>